<div class="container">
  <div class="row">
    <div class="alert alert-success">
      Thanks for your response. Read on to see how we can solve this together!
    </div>
  </div>


  <div class="row">
    <div class="col-sm-10">
      <h1>You're searching for a course or training program.</h1>
      <p>Nice that you're so proactive! We'd love to help you along.
        One of our specialists can look at your profile, give you <%= link_to "", "free personal advice" %>
        and even process a course booking. Please specify what you're searching for below.</p>
    </div>
  </div>

</div>