<div class="container">
  <div class="row">
    <div class="alert alert-success">
      Thanks for your response. Read on to see how we can solve this together!
    </div>
  </div>


  <div class="row">
    <div class="col-sm-10">
      <h1>You're searching for a course or training program.</h1>
      <p>Nice that you're so proactive! We'd love to help you along.
        One of our specialists can look at your profile, give you <%= link_to "", "free personal advice" %>
        and even process a course booking. Please specify what you're searching for below.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="http://lorempixel.com/g/150/150/animals/" alt="...">
        <div class="caption">
          <h3>Anny</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="http://lorempixel.com/g/150/150/fashion/" alt="...">
        <div class="caption">
          <h3>Doron</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="http://lorempixel.com/g/150/150/people/" alt="...">
        <div class="caption">
          <h3>Marlou</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="http://lorempixel.com/g/150/150/cats/" alt="...">
        <div class="caption">
          <h3>Midas</h3>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
    <div class="col-sm-10">
      <h2>What are you looking for?</h2>
      <p>Be specific!</p>


      
    </div>
  </div>

</div>