<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <h1>Thank You!</h1>

      <%= link_to "See admin panel", admin_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>