<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to "" do %>
          <%= image_tag "logos/logo-springest-low.png", class: "img-responsive logo" %>
        <% end %>
    </div>
  </div>
</nav>